.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;

  .product-images {
    display: flex;

    .small-imgs {
      display: flex;
      flex-direction: column;
      // padding: 20px;
      img {
        margin: 10px;

      }
    }

    .main-image {
      height: 880px;
      width: 600px;
      margin: 10px;

      img {
        height: 100%;
        width: 100%;
      }
    }

  }

}