<div class="product" *ngIf="currentProduct">

    <div class="product-images">
        <div class="small-imgs">
            <img src="../../../../assets/{{currentProduct.bg_url}}.jpg" alt="{{currentProduct.bg_url}}">
            <img src="../../../../assets/{{currentProduct.bg_url}}.jpg" alt="{{currentProduct.bg_url}}">
            <img src="../../../../assets/{{currentProduct.bg_url}}.jpg" alt="{{currentProduct.bg_url}}">            
        </div>

        <div class="main-image">
            <img src="../../../../assets/{{currentProduct.bg_url}}.jpg" alt="{{currentProduct.bg_url}}">    
        </div>
    </div>


    <div class="product-info">
        <p>{{currentProduct.name}}</p>

        <p>{{currentProduct.desc}}</p>

        <p>{{currentProduct.price}}</p>
    </div>



    
</div>