.cart{
  width: 300px;
  height: 300px;
  // border: 1px solid black;
  background: rgba($color: #e1e1e1, $alpha: 0.9);
  padding: 20px;
  display: none;

  &.show {
    display: block;
  }

  h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    // padding-top: 20px;
  }

}