<div class="cart">
    <h2>Your Cart</h2>
    <div class="products">
        <div class="item" *ngFor="let item of cart.items">
            {{item.item.name}}
            x {{item.quantity}}

            <span class='remove' (click)="removeFromCart(item.item)">-</span>
        </div>
    </div>
    Suma: {{cart.sum}}
</div>