.logo {
    font-family: 'Mali', cursive;
}

.search {
    width: 250px;
}

.search input{
    height: 40px;
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 25px;
    outline: none;
}

.container-fluid {
    padding: 0 !important;
    
    .jumbotron {
      background: #fff;
      padding-bottom: 1rem;
      padding: 0 !important;
      width: 90%;
      margin: 0 auto;
      max-width: 1500px;
    }
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0;
  
    nav ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 300px;
      justify-content: space-around;
      
      li {
        font-size: 14px;
        text-transform: uppercase;
      }
    }
}
  