<div class="container-fluid">
    <app-loader [isLoading]="isLoading"></app-loader>

    <div class="jumbotron text-center header">
        <div class="search">
        <input type="text" placeholder="Szukaj">
        </div>
        <h1>
        <span class="logo">Poduchy</span>
        </h1>

        <div class="small-menu">
        <nav>
            <ul>
            <li *ngIf="isLogged()" (click)="navigateToLogin()">Wyloguj</li>
            <li *ngIf="!isLogged()" (click)="navigateToLogin()">Zaloguj</li>
            <li>Moje konto</li>
            <li (click)="toggleCart()">Koszyk</li>
            </ul>
        </nav>
        </div>
    </div>
    <app-navigation></app-navigation>
</div>
