@import url('https://fonts.googleapis.com/css?family=Mali');

.products-list-home {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    span {
      // padding-bottom: 5px;
      padding: 0 10px 5px 10px;
      border-bottom: 2px solid #444;
    }
  }  
}

.products {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.product-item {
  width: 50%;
  min-width: 300px;
  flex: 1;
  padding: 5px;
  
  .product-details {
    padding: 10px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;

    .product-name {
      font-size: 24px;
    }

    .product-price {
      align-self: flex-end;
    }

  }
}
