<div class="container-fluid">
  <section class="products-list-home">
      <h2><span class="section-header-title">Nowości</span></h2>
      <app-products-list></app-products-list>
  </section>
</div>
