<div class="products">
  <div class="product-item" *ngFor="let product of productsItems" >
    <img src="{{product.bg_url}}" alt="{{product.bg_url}}">
    <button (click)="addToCart(product)">Add</button>
    <div class="product-details"(click)="naviateToProduct(product)">
        <span class="product-name">{{product.name}}</span>
        <span class="product-price">{{product.price}}</span>
    </div>
  </div>
</div>

