.logo {
  width: 100px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: center;
  margin: 0 auto;
}

.product-item {
  min-width: 200px;
  max-width: 200px;  
  height: 280px;
  flex: 1;
  margin: 5px;
  position: relative;
  overflow: hidden;
  
  button {
    position: absolute;
  }

  img {
    position: absolute;
  }

  .product-details {
    padding: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    color: lighten(black, 15);
    width: 90%;
    top: 215px;
    margin: 0 auto;
    background:rgba($color: #fff, $alpha: 0.7);

    .product-name {
      font-size: 16px;
      text-align: center;
  
    }

    .product-price {
      font-size: 14px;
      text-align: center;
    }

  }
}

// .product-item:hover .product-details {
//   background:rgba($color: #fff, $alpha: 0.0);
//   color: transparent;
//   transition: all 250ms ease-in-out;
// }