<nav class='main-navigation'>
    <div class="nav-wrap">
            <ul>
                <li><a (click)="navigateToHome()">Home</a></li>
                <li><a (click)="navigateToProducts()">Produkty</a></li>
                <li><a>O nas</a></li>
                <li><a>Kontakt</a></li>
            </ul>
    </div>
</nav>