.logo {
  width: 100px;
}

nav.main-navigation{
  height: 50px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #1c1c1c;
  justify-content: space-around;
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  
  .nav-wrap {
    margin-bottom: 2px;
    border-bottom: 4px solid black;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 0;
   
    li {
      margin-right: 10px;
      font-size: 14px;
      
      a {
        font-size: 14px;
      }
    }

    li:last-child{
      margin-right: 0;
    }
  }

}